<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlightReservation.Properties.Settings.FlightReservationConnectionString"
            connectionString="Data Source=DESKTOP-O3UO69T;Initial Catalog=FlightReservation;User ID=sa;Password=melis123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>